

#background {
    size: 80%;
} 

.logo {
    position: relative;
    border-collapse: collapse;
    height: 200px;
    width: 200px;
    top: -920px;
    z-index: 2
}

.button {
    background-color: transparent;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.sim_button {
    border-radius: 50%;
    float: left;
}

.view_button {
    border-radius: 50%;
    float: right;
}