### Dependencies for Core nba_simulator Functionality ###
###                                                   ###
### To install, run:                                  ###
###     $ pip install -r requirements.txt             ###
###                                                   ###
#########################################################

## Core Dependencies ##
Django==1.11.5
nba-py==0.1.1a2

## Secondary Dependencies ##
django-chartjs==1.2
djangorestframework==3.7.1
Jinja2==2.9.6

## Other Dependencies ##
django-filter==1.1.0
