### Dependencies for Core nba_simulator Functionality ###
###                                                   ###
### To install, run:                                  ###
###     $ pip install -r requirements.txt             ###
###                                                   ###
#########################################################

## Core Dependencies ##
Django==2.0.6
nba-py==0.1.1a2

## Secondary Dependencies ##
django-chartjs==1.3
djangorestframework==3.8.2
Jinja2==2.9.6

## Other Dependencies ##
django-filter==1.1.0
