{% extends "stats/main_template.html" %}

{% block title %}Display All Team Stats 2016-2017{% endblock %}

{% block content %}

<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand">NBA Simulator</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="#">View Team Comparisons</a></li>
			<li><a href="/tournament/bracket/2017">View Playoff Bracket</a></li>
			<li><a href="/stats/view_wins_and_losses">View Standing</a></li>
		</ul>
	</nav>

	<font size="18">
		<center style="font-family: Calibri;">All Team Statistics</center>
	</font>

    <div align="right">
        <font style="font-family: impact;">
            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" title="Glossary"
	        data-content="W: Wins <br /> L: Losses <br /> PPG: Points Per Game
	        <br /> FG%: Field Goal Percentage <br /> 3P%: Three Pointer Percentage
	        <br /> DREB: Defensive Rebounds <br /> OREB: Offensive Rebounds <br /> AST: Assists
	        <br /> TOV: Turnovers <br /> STL: Steals <br /> BLK: Blocks <br /> PF: Personal Fouls"
            data-html="true">Glossary</a>
         </font>
    </div>


	<input class="form-control" id="table_search" type="text" placeholder="Search..">
	<br>

	<table class="table table-hover">
		<thead>
			<tr>
				{% for header in headers %} 
				<th>{{header}} </th>
				{% endfor %} 
			</tr>
		</thead>
		<tbody id="data_table">
			{% for row in rows %} 
			<tr>
				{% for column in row %} 
				<td>{{column}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function(){
  		$("#table_search").on("keyup", function() {
    		var value = $(this).val().toLowerCase();
    		$("#data_table tr").filter(function() {
      			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    		});
  		});
	});
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

{% endblock %}




