{% extends "stats/main_template.html" %}

{% block title %}Boxscore{% endblock %}

{% block content %}


<div class="container" style="width: 90%">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">NBA Simulator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">View Team Comparisons</a></li>
            <li><a href="/tournament/bracket/2017">View Playoff Bracket</a></li>
            <li><a href="/stats/all_team_statistics/">View All Teams Statistics</a></li>
            <li><a href="/stats/view_wins_and_losses">View Standing</a></li>
        </ul>
    </nav>

    <font size="18">
        <center style="font-family: Calibri;">{{team1}} vs {{team2}}</center>
    </font>

    <input class="form-control" id="table_search" type="text" placeholder="Search..">
    <br>

    <ul class="nav nav-pills" style="margin: auto; padding: 0; width: 147px;">
        <li class="active"><a data-toggle="pill" href="#team1">{{team1}}</a></li>
        <li><a data-toggle="pill" href="#team2">{{team2}}</a></li>
    </ul>

    <div class="tab-content">
        <div id="team1" class="tab-pane fade in active">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th align="center">{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody id="data_table1">
                {% for row in rows1 %}
                    <tr>
                        {% for column in row %}
                        <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="team2" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody id="data_table2">
                {% for row in rows2 %}
                    <tr>
                        {% for column in row %}
                        <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#table_search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#data_table1 tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function(){
        $("#table_search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#data_table2 tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}




