<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
	<title>Game Boxscore</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="width: 90%">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand">NBA Simulator</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">View Team Comparisons</a></li>
                <li><a href="/tournament/bracket/2016-17">View Playoff Bracket</a></li>
                <li><a href="/stats/all_team_statistics/">View All Teams Statistics</a></li>
                <li><a href="/stats/view_standing/2016-17">View Standing</a></li>
                <li><a href="/tournament/bracket/2016-17">View Previous Year Stats</a></li>
            </ul>
        </nav>

        <font size="18">
            <center style="font-family: Calibri;">{{team1}} vs {{team2}}</center>
        </font>
    </div>

    <font size="18">
        <center style="font-family: Calibri;">{{team1_name}} @ {{team2_name}}</center>
    </font>

    <div align="right">
        <font style="font-family: impact;">
            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" title="Glossary"
	        data-content="P: Start Position <br /> MIN: Minutes <br /> PTS: Points Per Game
	        <br /> OREB: Offensive Rebounds <br /> DREB: Defensive Rebounds
	        <br /> REB: Total Rebounds <br /> AST: Assists <br /> STL: Steals <br /> BLK: Blocks
	        <br /> FGM: Field Goals Made <br /> FGA: Field Goals Attempted <br /> FG%: Field Goal Percentage
	        <br /> 3PM: Three Pointers Made <br /> 3PA: Three Pointers Attempted
	        <br /> 3P%: Three Pointer Percentage <br /> FTM: Free Throws Made
	        <br /> FTA: Free Throws Attempted <br/ > FT%: Free Throw Percentage <br /> TOV: Turnovers
	        <br /> PF: Personal Fouls <br /> +/-: Plus/Minus <br /> DNP: Did Not Play"
            data-html="true">Glossary</a>
         </font>
    </div>

    <input class="form-control" id="table_search" type="text" placeholder="Search..">
    <br>

    <ul class="nav nav-pills" style="margin: auto; padding: 0; width: 147px;">
        <li class="active"><a data-toggle="pill" href="#team1">{{team1}}</a></li>
        <li><a data-toggle="pill" href="#team2">{{team2}}</a></li>
    </ul>

    <div class="tab-content">
        <div id="team1" class="tab-pane fade in active">
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th align="center">{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody id="data_table1">
                {% for row in rows1 %}
                    <tr>
                        {% for column in row %}
                        <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="team2" class="tab-pane fade">
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            <tbody id="data_table2">
                {% for row in rows2 %}
                    <tr>
                        {% for column in row %}
                        <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#table_search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#data_table1 tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function(){
            $("#table_search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#data_table2 tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>
</html>