<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>
        {% block title %}Page Title{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NBA Simulator</a>
        </div>
        <ul class="nav navbar-nav">
            {% if season == '2016-17' %}
                <li class="active"><a href="{% url 'tournament_bracket' '2016-17' %}">Home</a></li>
                <li><a href="{% url 'team_comparisons' %}">View Team Comparisons</a></li>
                <li><a href="{% url 'all_team_stats' %}?sort=Team%20City">View All Teams Statistics</a></li>
                <li><a href="{% url 'graphs' %}">View Stats Graph</a></li>
                <li><a href="{% url 'tournament_bracket' '2017-18' %}">View Simulated Results</a></li>
            {% endif %}
            {% if season == '2017-18' %}
                <li class="active"><a href="{% url 'tournament_bracket' '2017-18' %}">Home</a></li>
                <li><a href="{% url 'tournament_bracket' '2016-17' %}">View Previous Year Stats</a></li>
            {% endif %}
        </ul>
    </nav>

    <font size="18">
        <center style="font-family: Calibri;">NBA Team Standings</center>
    </font>

    <input class="form-control" id="table_search" type="text" placeholder="Search..">
    <br>

    <table class="table table-hover">
        {% block content %}
        {% endblock %}
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#table_search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#data_table").find("tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>