{% extends "stats/standing_template.html" %}

{% load static %}
{% block title %}2016-2017 Standing{% endblock %}

{% block content %}

<thead>
    <tr>
        {% for header in headers %}
        <th>{{header}} </th>
        {% endfor %}
    </tr>
</thead>
<tbody id="data_table">
    {% for row in rows %}
    <tr>
        <td>
            <img src="{% static row.0 static %}" alt="Team Logo" style="width: 45px; height: 30px">
        </td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
    </tr>
    {% endfor %}
</tbody>

{% endblock %}