<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>Stats Graphs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'stats/style.css' %}"/>
    <script src="{% static 'js/excanvas.js' %}"></script>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NBA Simulator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/tournament/bracket/2016-17">Home</a></li>
            <li><a href="/stats/view_team_comparisons">View Team Comparisons</a></li>
            <li><a href="/stats/view_standing/2016-17">View Standing</a></li>
            <li><a href="/stats/all_team_statistics">View All Teams Statistics</a></li>
            <li><a href="/tournament/bracket/2017-18">View Simulated Results</a></li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="col-sm-12">
            <center><h1>Stats Graphs</h1></center>
        </div>
    </div>
    <hr>

    <div class="row">
        <nav class="col-sm-2" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#WLR">Win - Loss Ratios</a></li>
                <li><a href="#PPG">Points Per Game</a></li>
                <li><a href="#RPG">Rebounds Per Game</a></li>
                <li><a href="#APG">Assists Per Game</a></li>
                <hr>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="col-sm-10">
                <canvas id="WLR"></canvas>
                <script type="text/javascript">
                    $.get('{% url "bar_wlr_chart" %}', function (data) {
                        var ctx = $("#WLR").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'bar',
                            data: data
                        });
                    });
                </script>
                <br>
                <hr>
                <br>

                <canvas id="PPG"></canvas>
                <script type="text/javascript">
                    $.get('{% url "bar_points_chart" %}', function (data) {
                        var ctx = $("#PPG").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'bar', data: data
                        });
                    });
                </script>
                <br>
                <hr>
                <br>

                <canvas id="RPG"></canvas>
                <script type="text/javascript">
                    $.get('{% url "bar_rebounds_chart" %}', function (data) {
                        var ctx = $("#RPG").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'bar', data: data
                        });
                    });
                </script>
                <br>
                <hr>
                <br>

                <canvas id="APG"></canvas>
                <script type="text/javascript">
                    $.get('{% url "bar_assists_chart" %}', function (data) {
                        var ctx = $("#APG").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'bar', data: data
                        });
                    });
                </script>
                <br>
                <hr>
                <br>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-info" role="button" id="top_button">Back to Top</a>

</body>
</html>