{% extends "stats/main_template.html" %}
{% load static %}

{% block title %}Team Comparisons - All Stats{% endblock %}

{% block content %}

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">NBA Simulator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/stats/view_wins_and_losses">View Standing</a></li>
            <li><a href="/tournament/bracket/2017">View Playoff Bracket</a></li>
            <li><a href="/stats/all_team_statistics">View All Team Statistics</a></li>
        </ul>
    </nav>

    <font size="18">
        <center style="font-family: Calibri;">Team Comparisons</center>
    </font>

    <div align="left">
        <font style="font-family: impact;">
            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="What is this page?"
               data-content="Below is a list of divisions.
	         <br /> Each division has five teams.
	         <br /> Choose two teams to compare their respective season statistics."
               data-html="true">Instructions</a>
        </font>
    </div>

    <div class="space"></div>
    <hr>

    <div class="container" style="width: 100%">
        <center>
            <div class="col-sm-3">
                {% for divisions, teams in west_divisions.items %}
                    <h4 class="Heading" style="font-family: Arial Black">{{divisions}}</h4>
                    {% for team in teams %}
                        {% for team, image in team.items %}
                            <h4 class="Team">
                                <img src="{% static image static %}" alt="Team Logo" style="width: 30px; height: 20px">
                                {{team}}
                            </h4>
                        {% endfor %}
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
        </center>

        <center>
            <div class="col-sm-3">
                {% for divisions, teams in east_divisions.items %}
                    <h4 class="Heading" style="font-family: Arial Black">{{divisions}}</h4>
                    {% for team in teams %}
                        {% for team, image in team.items %}
                            <h4 class="Team">
                                <img src="{% static image static %}" alt="Team Logo" style="width: 30px; height: 20px">
                                {{team}}
                            </h4>
                        {% endfor %}
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
        </center>

        <center>
            <div class="col-sm-2">
                <h4 class="Heading" style="font-family: Calibri">Team One</h4>
                <select id="team1" onchange="team1()" class="form-control">
                    {% for team in all_teams %}
                        <option value="{{team}}">{{team}}</option>
                    {% endfor %}
                </select>
                <h3 id="name1" style="font-family: Arial Black"></h3>
                <h4 id="record1"></h4>
                <br>
                <br>
                <table class="table table-hover">
                    <tbody id="team1_table">
                        {% for each in categories%}
                            <tr>
                                <td>{{each}} --- </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </center>

        <center>
            <div class="col-sm-2">
                <h4 class="Heading" style="font-family: Calibri" >Team Two</h4>
                <select id="team2" onchange="team2()" class="form-control">
                    {% for team in all_teams %}
                        <option value="{{team}}">{{team}}</option>
                    {% endfor %}
                </select>
                <h3 id="name2" style="font-family: Arial Black"></h3>
                <br>
                <br>
                <table class="table table-hover">
                    <tbody id="team2_table">
                        {% for each in categories%}
                            <tr>
                                <td>{{each}} --- </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </center>

        <center>
            <div class="col-sm-2">
                <br>
                <br>
                <button type="button" class="btn btn-primary" id="compare">
                    Compare
                </button>
            </div>
        </center>
    </div>

    <div class="space"></div>
    <hr>

    <p>
        {{stats}}
    </p>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    function team1() {
        var team1 = document.getElementById("team1").value;
        document.getElementById("name1").innerHTML = team1;
    }
</script>
<script>
    function team2() {
        var team2 = document.getElementById("team2").value;
        document.getElementById("name2").innerHTML = team2;
    }
</script>

{% endblock %}