<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %}Page Title{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'season_games/style.css' %}">
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NBA Simulator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/tournament/bracket/{{ season }}">Home</a></li>
            <li><a href="/stats/view_standing/{{ season }}">View Standing</a></li>
            {% if season == '2016-17' %}
            <li><a href="#">View Team Comparisons</a></li>
            <li><a href="/stats/all_team_statistics">View All Teams Statistics</a></li>
            <li><a href="/stats_graphs">View Stats Graph</a></li>
            <li><a href="/tournament/bracket/2017-18">View Simulated Results</a></li>
            {% endif %}
            {% if season == '2017-18' %}
            <li><a href="/tournament/bracket/2016-17">View Previous Year Stats</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="col-sm-2">
            <br>
            <center>
                <img src="{% static team_logo %}" alt="team logo">
            </center>
        </div>
        <div class="col-sm-10">
            <br>
            <center>
                <h1>{{ team_name }}</h1>
            </center>
            <font style="font-family: impact;">
                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="top"
                   data-content="The list of team initials on the left leads you to the games
                   played between the team you selected as shown in the title and the team you selected in the list"
                   data-html="true">Instructions</a>
            </font>
        </div>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });



</script>

</body>
</html>
