<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <nav class="navbar navbar-inverse">

      <div class="collapse navbar-collapse" id="topNavBar">
          <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-default">View All Teams</button>
          </form>
      </div>

  </nav>


  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'bar_graphs/style.css' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

  {% if bar_title %}
  <center><h1>Simple Comparisons</h1></center>
  <center><h3 style="top: 60px;">Regular Season</h3></center>
  {% endif %}

  <title>django-chartjs line chart demo</title>
    <!--[if lte IE 8]>
        <script src="{% static 'js/excanvas.js' %}"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        <canvas id="myChart" >width="200" height="100"></canvas>

        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'bar', data: data
                });
            });
        </script>
    </div>

<!-- Four buttons -->
<!--<button id="rectangle">Back</button>-->
<a href="https://www.youtube.com/?gl=CA" target="_blank"><button id="view_all_team">View All Teams</button></a>
<!--
<a href="https://www.google.ca/maps" target="_blank"><button id="view_all_team2">View All Teams</button></a>
<a href="https://www.w3schools.com/" target="_blank"><button id="view_all_team3">View All Teams</button></a>
<a href="http://www.octranspo.com/splash" target="_blank"><button id="view_all_team4">View All Teams</button></a>-->
<h2 class="outline">Top 5</h2>

<!--
<!-- Four Titles --
<p class="sub_title">Win - Loss Ratio</p>
<p class="sub_title2">Points Per Game</p>
<p class="sub_title3">Rebounds Per Game</p>
<p class="sub_title4">Assists Per Game</p>-->

</body>
</html>