<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>Tournament Bracket Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-bracket/jquery.bracket.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-bracket/jquery.bracket.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stats_brackets/style.css' %}">

</head>

<body class="body" style="background-color:#8FBC8F">
<div class="container" style="width: 80%">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NBA Simulator</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if season == '2016-17' %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'tournament_bracket' '2016-17' %}">Home</a></li>
                        <li><a href="{% url 'team_comparisons' %}">Team Comparisons</a></li>
                        <li><a href="{% url 'standing' '2016-17' %}">Standing</a></li>
                        <li><a href="{% url 'graphs' %}">Stats Graphs</a></li>
                        <li><a href="{% url 'all_team_stats' %}?sort=Team%20City">All Team Stats</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'tournament_bracket' '2017-18' %}">Simulated Results</a></li>
                    </ul>
                {% endif %}
                {% if season == '2017-18' %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'tournament_bracket' '2017-18' %}">Home</a></li>
                        <li><a href="{% url 'standing' season %}">Standing</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'tournament_bracket' '2016-17' %}">Previous Year Stats</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12">
            {% if season == '2017-18' %}
                <button type="button" class="btn btn-primary" id="simulate_playoff">Simulate Playoff</button>
                <button type="button" class="btn btn-primary" id="simulate_season" style="float: right;"
                        data-toggle="tooltip"
                        data-placement="bottom" title="May take up to 10 seconds">Re-Simulate Season
                </button>
            {% endif %}
            <div style="text-align: center;">
                <H1>Playoff Bracket {{ season }}</H1>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="container" style="width: 90%">
            <div class="col-sm-5">
                <div style="text-align: center;">
                    <img src="{% static 'stats_brackets/images/western_conference_logo.png' %}"
                         alt="NBA Western Conference Logo" style="width: 115px; height: 115px;">
                </div>

                <div id="west" style="display: inline-block; position: absolute; right: 11%">
                    <div class="demo"></div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="space2"></div>
                <div style="text-align: center;">
                    <H2>VS</H2>
                </div>
                <div class="space2"></div>

                <div style="text-align: center;">
                    <img src="{% static 'stats_brackets/images/trophy.png' %}" alt="NBA Championship Trophy"
                         style="width: 120px; height: 120px;">
                </div>

                <div id="final" style="display: inline-block; position: absolute; left: 17%">
                    <div class="demo"></div>
                </div>
            </div>

            <div class="col-sm-5">
                <div style="text-align: center;">
                    <img src="{% static 'stats_brackets/images/eastern_conference_logo.png' %}"
                         alt="NBA Eastern Conference Logo" style="width: 115px; height: 115px;">
                </div>

                <div id="east" style="display: inline-block; position: absolute; left: 17%">
                    <div class="demo"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="space"></div>
    <hr>

    <div align="right">
        <span style="font-family: impact, serif;">
            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" title="What's below?"
               data-content="Choose a team to view all of its 82 regular season games {{ season }}"
               data-html="true">Instructions</a>
        </span>
    </div>

    <div class="space2"></div>
    <div style="text-align: center;"><H1>{{ season }} Teams - All Regular Season Games</H1></div>
    <div class="space3"></div>

    <div class="container" style="width: 80%">
        <div style="text-align: center;">
            <div class="col-sm-6">
                {% for team, data in west_teams.items %}
                    <a href="{% url 'stats_team_pages' season team %}" class="list-group-item"
                       style="float: left; background-color: #FFFFF0">
                        <h4 class="list-group-item-heading">{{ team }}</h4>
                        <img src="{% static data %}" alt="Team Logo" style="width: 150px; height: 100px">
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-6">
            <div style="text-align: center;">
                {% for team, data in east_teams.items %}
                    <a href="{% url 'stats_team_pages' season team %}" class="list-group-item"
                       style="float: right; background-color:  #FFFFF0">
                        <h4 class="list-group-item-heading">{{ team }}</h4>
                        <img src="{% static data %}" alt="Team Logo" style="width: 150px; height: 100px">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="space2"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    $("#simulate_playoff").click(function () {
        console.log("Simulate");
        $.get("simulate_playoff", function (data, status) {
            console.log("" + status);
            location.reload();
        })
    });

    $("#simulate_season").click(function () {
        console.log("Simulate");
        $.get("simulate_season", function (data, status) {
            console.log("" + status);
            location.reload();
        })
    });

    $.get("../api/{{ season }}", function (data) {
        $('#west').find('.demo').bracket({
            init: data['west'],
            teamWidth: 62,
            scoreWidth: 22,
            matchMargin: 30,
            roundMargin: 40,
            skipConsolationRound: true
        });

        $('#final').find('.demo').bracket({
            init: data['final'],
            teamWidth: 62,
            scoreWidth: 22,
            matchMargin: 10,
            roundMargin: 35
        });

        $('#east').find('.demo').bracket({
            init: data['east'],
            dir: 'rl',
            teamWidth: 62,
            scoreWidth: 22,
            matchMargin: 30,
            roundMargin: 40,
            skipConsolationRound: true
        })
    })
</script>

</body>
</html>