{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Tournament Bracket Generator</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'jquery-bracket/jquery.bracket.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'jquery-bracket/jquery.bracket.min.css' %}" />

    </head>
    <body>
        <H1>Tournament {{ season }}</H1>
    	<div id="main">
            <div id="west" style="display: inline-block;">
                <div class="demo"></div>
            </div>

            <div id="final" style="display: inline-block;">
                <div class="demo"></div>
            </div>

            <div id="east" style="display: inline-block;float: right">
                <div class="demo"></div>
            </div>
        </div>

    	<script type="text/javascript">
            $.get( "../api/{{ season }}", function( data ) {
			    $('#west .demo').bracket({init: data['west']})
			    $('#east .demo').bracket({init: data['east'], dir: 'rl'})
			    $('#final .demo').bracket({init: data['final']})
			  })
    	</script>
    </body>
</html>
