h1 {
    font-family: lato;
}

h2 {
    font-family: lato;
    font-size: 200%
}

h4 {
    font-family: lato;
}

.label {
    font-size: 16px;
    color: Black;
    font-family: lato;
}

.score {
    font-size: 16px;
}

.space {
    margin-top: 200px;
}

.space2 {
    margin-top: 50px;
}

.space3 {
    margin-top: 30px;
}